<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>My Shop</h1>
    <% for(const item in locals.data) { %>
      <%= data[item].name %>
    <% } %>
  </body>
</html>
